<!DOCTYPE html>
<html>
<head>
  <title>AppLinkMenuAtivo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<ul class="menu">
			<li><%= nav_link 'Home', root_path %></li>
			<li><%= nav_link 'About', home_about_path %></li>
		</ul>
	</nav>
<div id="page">
	<%= yield %>
</div>

</body>
</html>
